.note {
  display: flex;
  flex-direction: column;
  height: 100%;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    // margin-inline-start: -12px;
    padding-bottom: 16px;
  }
  .menu {
    max-width: 400px;
    min-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 16px;
  }
  .title {
    line-height: 1.3;
    flex-grow: 1;
    overflow-wrap: break-word;
    margin-inline-start: 12px;
  }
  .updatedAt {
    color: var(--secondary-text);
    white-space: nowrap;
    margin-inline-start: 12px;
  }
  .contentBox {
    flex: 1;
    height: 0;
  }
}
