.arrow {
  --size: 24px;
  --time: 0.5s;
  --color: var(--gray-60);
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
  width: var(--size);
  height: var(--size);
  position: relative;
  span {
    width: calc(var(--size) * 0.75);
    height: calc(var(--size) * 0.2815);
    position: absolute;
    top: calc(var(--size) * 0.4065);
    left: calc(var(--size) * 0.125);
    transition: transform var(--time) cubic-bezier(0.86, 0, 0.07, 1),
      transform-origin var(--time) cubic-bezier(0.86, 0, 0.07, 1);

    &:before,
    &:after {
      content: '';
      width: calc(var(--size) * 0.375);
      height: calc(var(--size) * 0.05);
      background-color: var(--color);
      position: absolute;
      bottom: 0;
      transition: transform var(--time) cubic-bezier(0.86, 0, 0.07, 1),
        transform-origin var(--time) cubic-bezier(0.86, 0, 0.07, 1);
    }

    &:before {
      right: 50%;
      border-radius: calc(var(--size) * 0.0625) 0 0 calc(var(--size) * 0.0625);
      transform-origin: 100% 100%;
      transform: rotate(40deg);
    }

    &:after {
      left: 50%;
      border-radius: 0 calc(var(--size) * 0.0625) calc(var(--size) * 0.0625) 0;
      transform-origin: 0 100%;
      transform: rotate(-40deg);
    }
  }

  &.active {
    span {
      transform: translateY(calc(var(--size) * -0.25));
      &:before {
        transform-origin: 100% 0;
        transform: rotate(-40deg);
      }
      &:after {
        transform-origin: 0 0;
        transform: rotate(40deg);
      }
    }
  }
}
