.textareaBox {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 0 5px 10px;
  border: 1px solid var(--input-border-color);
  transition: all 0.2s ease-in-out;
  border-radius: var(--input-border-radius);

  .textareaBoxInof {
    height: 100%;
  }

  &:hover {
    border-color: var(--input-hover-border-color);
    .icon {
      color: var(--input-hover-border-color);
    }
  }
  &:has(.textarea:focus) {
    border-color: var(--input-active-border-color);
    box-shadow: var(--input-hover-box-shadow);
    .icon {
      color: var(--input-active-border-color);
    }
  }

  :global(.simplebar-content) {
    // min-height: 100%;
  }

  .info {
    .textarea {
      display: block;
      resize: none;
      width: 100%;
      background: none;
      border: none;
      outline-style: none;
      // min-height: 100%;
      padding: 0;
      margin: 0;
      // 这个字体必须是常规字体，不然高度计算错误！
      // font-family: var(--sans-serif);
      font-size: 16px;
      line-height: 24px;
      visibility: hidden;
      caret-color: var(--input-caret-color);
      &.show {
        visibility: visible;
      }
    }
  }
}
