.btn {
  display: flex;
  height: 40px;
  line-height: 40px;
  border-radius: 100px;
  letter-spacing: 0.12em;
  text-transform: uppercase; // 转换为大写
  padding: 0 20px;
  cursor: pointer;
  font-weight: 700;
  border: 0;
  background: none;
  outline: none;
  user-select: none;
  transition: all 0.2s ease-in-out;
  align-items: center;
  text-decoration: none;

  &:disabled {
    opacity: 0.5;
  }

  &.default {
    background: var(--primary-blue);
    color: var(--white);
    &:hover {
      background: var(--secondary-blue);
      // box-shadow: var(--outline-box-shadow-contrast);
    }
    &:focus {
      box-shadow: none;
    }
  }

  &.line {
    background: var(--white);
    color: var(--primary-blue);
    border: 1px solid var(--primary-blue);
    &:disabled {
      opacity: 0.5;
    }
    &:hover:not([disabled]) {
      background: var(--primary-blue);
      color: var(--white);
    }
    &:focus {
      box-shadow: var(--outline-box-shadow);
    }
  }

  &.red {
    border: 1px solid var(--red-25);
    background: var(--white);
    color: var(--red-25);
    &:focus {
      box-shadow: var(--outline-box-shadow);
    }
    &:hover:not([disabled]) {
      background: var(--red-25);
      color: var(--white);
    }
    /* Hack to color our svg */
    &:hover:not([disabled]) img {
      filter: grayscale(1) invert(1) brightness(2);
    }
  }
}
