.preview {
  margin-top: 50px;
}

.markdown {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 32px 0 12px;
  }

  blockquote {
    font-style: italic;
    color: var(--gray-20);
    border-left: 3px solid var(--gray-80);
    padding-left: 10px;
  }

  p {
    margin-bottom: 16px;
  }
  img {
    width: 100%;
  }
}
