.excerpt {
  pointer-events: none;
  z-index: 2;
  color: #333;
  font-size: 14px;
  position: relative;
  animation: slideIn 0.25s;
}

@keyframes slideIn {
  0% {
    top: -10px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
