.search {
  position: relative;
  height: 36px;
  .searchInput {
    width: 100px;
    border-radius: 9999px;
  }
  .searchInputActive {
    width: 220px;
  }

  .spinner {
    position: absolute;
    right: 10px;
    top: 8px;
  }
}
