.search {
  position: relative;
  height: 36px;
  color: var(--text-black-color);

  :global(.global-inputWrap .global-inputBox) {
    width: 100px;
    border-radius: 9999px;
  }

  :global(.icon-search) {
    margin-top: -1px;
  }

  :global(.global-inputWrap .global-inputBox:has(.global-input:focus)) {
    width: 220px;
  }

  .spinner {
    position: absolute;
    right: 10px;
    top: 8px;
  }
}
