.switch {
  --size: 36px;
  user-select: none;
  .checkbox-wrapper-5 {
    display: flex;
    overflow: hidden;
    border-radius: 9999px;
    transition: all 0.2s ease-in-out;
    &:hover {
      //box-shadow: var(--shadow);
    }
    &:has(input[type='checkbox']:checked):hover {
      // box-shadow: var(--btn-shadow);
    }
  }
  .checkbox-wrapper-5 .check {
    position: relative;
    // background: var(--btn-bg);
    background: transparent;
    //linear-gradient(90deg, var(--color-600),var(--color-800) );
    line-height: 0;
    perspective: 400px;
    font-size: var(--size);

    &:has(input[type='checkbox']:checked) {
      background: var(--btn-bg);
    }
  }

  .checkbox-wrapper-5 .check input[type='checkbox'],
  .checkbox-wrapper-5 .check .inputClone,
  .checkbox-wrapper-5 .check label,
  .checkbox-wrapper-5 .check label::before,
  .checkbox-wrapper-5 .check label::after,
  .checkbox-wrapper-5 .check {
    appearance: none;
    display: inline-block;
    border-radius: 9999px;
    border: 0;
    transition: 0.35s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
  }

  .checkbox-wrapper-5 .check label {
    position: relative;
    width: calc(2.2 * var(--size));
    // width: calc(2 * var(--size));
    height: var(--size);
    background: var(--input-border-color);
    // overflow: hidden;
    //z-index: 2;
    div {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 10;
    }
  }

  .checkbox-wrapper-5 .check input[type='checkbox'],
  .checkbox-wrapper-5 .check .inputClone {
    position: absolute;
    z-index: 1;
    width: calc(0.8 * var(--size));
    height: calc(0.8 * var(--size));
    top: calc(0.1 * var(--size));
    left: calc(0.1 * var(--size));
    background: linear-gradient(45deg, #dedede, #ffffff);
    // background: linear-gradient(45deg, var(--color-200), var(--color-300));
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
    outline: none;
    margin: 0;
  }
  .checkbox-wrapper-5 .check .inputClone {
    background: transparent;
    box-shadow: none;
    // font-size: calc(0.44 * var(--size));
    font-size: 16px;
    // touch-action: none; // 移动端
    pointer-events: none; // pc端
    z-index: 5;

    .leftText,
    .rightText {
      width: calc(1.2 * var(--size));
      text-align: center;
      height: calc(0.8 * var(--size));
      line-height: calc(0.8 * var(--size));
      position: absolute;
      top: 0;
    }

    .leftText {
      right: 100%;
      color: #fff;
    }

    .rightText {
      left: 100%;
      color: var(--placeholder-color);
    }
    .same {
      position: relative;
      // text-decoration: line-through;
    }

    //.same::before,
    .same::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      border-top: 1px solid var(--color-800);
    }
    .same::before {
      //top: 40%;
      //transform: rotate(-45deg);
    }
    .same::after {
      //top: 60%;
      //transform: rotate(45deg);
    }
  }

  .checkbox-wrapper-5 .check input[type='checkbox']:checked,
  .checkbox-wrapper-5 .check input[type='checkbox']:checked ~ .inputClone {
    // left: calc(1.1 * var(--size));
    left: calc(1.3 * var(--size));
  }

  .checkbox-wrapper-5 .check input[type='checkbox']:checked + label {
    background: transparent;
  }

  .checkbox-wrapper-5 .check label::before,
  .checkbox-wrapper-5 .check label::after {
    content: '· ·';
    position: absolute;
    overflow: hidden;
    left: calc(0.15 * var(--size));
    top: calc(0.5 * var(--size));
    height: var(--size);
    letter-spacing: calc(-0.04 * var(--size));
    color: #9b9b9b;
    font-family: 'Times New Roman', serif;
    z-index: 2;
    font-size: calc(0.6 * var(--size));
    border-radius: 0;
    transform-origin: 0 0 calc(-0.5 * var(--size));
    backface-visibility: hidden;
  }

  .checkbox-wrapper-5 .check label::after {
    content: '●';
    top: calc(0.65 * var(--size));
    left: calc(0.2 * var(--size));
    height: calc(0.1 * var(--size));
    width: calc(0.35 * var(--size));
    font-size: calc(0.2 * var(--size));
    transform-origin: 0 0 calc(-0.4 * var(--size));
  }

  .checkbox-wrapper-5 .check input[type='checkbox']:checked + label::before,
  .checkbox-wrapper-5 .check input[type='checkbox']:checked + label::after {
    // left: calc(1.35 * var(--size));
    left: calc(1.55 * var(--size));
    top: calc(0.4 * var(--size));
    line-height: calc(0.1 * var(--size));
    transform: rotateY(360deg);
  }

  .checkbox-wrapper-5 .check input[type='checkbox']:checked + label::after {
    height: calc(0.16 * var(--size));
    top: calc(0.55 * var(--size));
    // left: calc(1.4 * var(--size));
    left: calc(1.6 * var(--size));
    font-size: calc(0.6 * var(--size));
    line-height: 0;
  }
}
