.table {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  .tableCell {
    display: flex;
    width: 220px;
    flex-direction: column;
    vertical-align: middle;
    transition: all 0.5s;
  }

  .btnBox {
    margin: 0 auto;
    margin-top: 30px;
  }

  .yzmBox {
    display: flex;
    align-items: flex-start;
    .yzmInput {
      width: 50%;
    }
  }
}
