/* From Uiverse.io by Na3ar-17 */
.container {
  --size-width: 100px;
  --size: 160px;
  --font-size: 17px;
  --progress: 0;

  /* --size: calc(var(--size-width) * 1.6); */
  /* 57 / 160 * size + size-base */
  --size-box-width: calc(var(--size) * 0.35625 + var(--size-width));
  --color-index: var(--btn-bg);
  --color-contaier: var(--color-200);
  --color-progress: var(--btn-bg);
  --color-small: var(--btn-bg);
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  line-height: 1;
}

.file {
  position: absolute;
  width: 0px;
  height: 0px;
  clip: rect(0 0 0 0);
}

.dragOver {
  .label {
    border-style: dotted;
    box-shadow: var(--btn-shadow);
  }
}

.label {
  background-color: transparent;
  border: 2px solid var(--color-index);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease;
  /* width: 160px;
  padding: 5px;
  border-radius: 50px; */
  width: var(--size-box-width);
  padding: calc(var(--size) * 0.03125);
  border-radius: calc(var(--size) / 3);
  position: relative;
  &:hover {
    box-shadow: var(--btn-shadow);
    border-color: var(--btn-hover-bg);
    .circle {
      background-color: var(--btn-hover-bg);
    }
    .title {
      color: var(--btn-hover-bg);
    }
  }

  .handleBox {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 10;
  }

  .labelBefore {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-small);
    /* width: 8px;
    height: 8px; */
    width: calc(var(--size) * 0.05);
    height: calc(var(--size) * 0.05);
    transition: all 0.4s ease;
    border-radius: 100%;
    margin: auto;
    opacity: 0;
    visibility: hidden;
    // transform: rotate(-90deg) translate(calc(var(--size) * 0.16875));
    transform: rotate(calc(var(--progress) / 100 * 360deg - 90deg))
      translate(calc(var(--size) * 0.16875));
  }

  .input {
    display: none;
  }

  .title {
    font-size: var(--font-size);
    color: var(--color-index);
    transition: all 0.2s;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text1 {
    top: 0;
    right: 0;
    text-align: center;
    height: 100%;
    width: var(--size-width);
    padding-right: calc(var(--size-width) * 0.15);
  }

  .text2 {
    top: 0;
    left: 0;
    text-align: center;
    height: 100%;
    width: calc(var(--size-box-width) - 4px);
    color: #fff;
    opacity: 0;
    visibility: hidden;
  }

  .circle {
    /* height: 44px;
    width: 44px; */
    height: calc(var(--size) * 0.275);
    width: calc(var(--size) * 0.275);
    border-radius: 50%;
    background-color: var(--color-index);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    position: relative;
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
    overflow: hidden;
    will-change: transform;

    .icon {
      color: #fff;
      /* width: 28px; */
      // width: calc(var(--size) * 0.175);
      // width: 100%;
      // height: 100%;
      // line-height: 1;
      font-size: calc(var(--size) * 0.18);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.4s ease;
    }

    .square {
      aspect-ratio: 1;
      /* width: 15px; */
      width: calc(var(--size) * 0.09375);
      border-radius: calc(var(--size) * 0.0125);
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.4s ease;
      z-index: 1;
    }

    .circleBefore {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-color: var(--color-progress);
      width: 100%;
      height: calc(var(--progress) * 1%);
      transition: all 0.4s ease;
    }
  }
}

.going {
  .label {
    pointer-events: none; //普通标签禁用点击事件
  }
}

.moving {
  .label {
    /* width: 57px; */
    width: calc(var(--size) * 0.35625);
    // animation: installed 0.4s ease 3.5s forwards;
    .labelBefore {
      // animation: rotate 3s ease-in-out 0.4s forwards;
      opacity: 1;
      visibility: visible;
    }

    .title {
      opacity: 0;
      visibility: hidden;
    }

    .circle {
      // animation: pulse 1s forwards, circleDelete 0.2s ease 3.5s forwards;
      animation: pulse 1s forwards;
      transform: rotate(180deg);
      background-color: var(--color-contaier);

      .icon {
        opacity: 0;
        visibility: hidden;
      }

      .square {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.moveEnd {
  .label {
    width: var(--size-box-width);
    border-color: var(--color-index);
    background-color: var(--color-index);
  }
  .text1 {
    opacity: 0;
  }
  .text2 {
    // animation: showInstalledMessage 0.4s ease 3.5s forwards;
    opacity: 1;
    visibility: visible;
    /* right: 56px; */
    right: 0; // calc(var(--size) * 0.35);
  }
  // .circle {
  //   opacity: 0;
  //   visibility: hidden;
  // }
}

@keyframes pulse {
  0% {
    scale: 0.95;
    box-shadow: 0 0 0 0 rgba(142, 68, 173, 0.9);
  }
  70% {
    scale: 1;
    box-shadow: 0 0 0 16px rgba(142, 68, 173, 0);
  }
  100% {
    scale: 0.95;
    box-shadow: 0 0 0 0 rgba(142, 68, 173, 0);
  }
}
