.header {
  z-index: 1;
  padding-right: 30px;
  pointer-events: none;

  h5 {
    display: block;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    font-size: 13px;
    margin-top: 5px;
    color: rgb(134, 134, 134);
  }
}
