.btnImg {
  margin: 0 2px 0 -6px;
}

.delete {
  margin-right: 16px;
}

.saveBtn {
  margin-right: 16px;
}

.editor {
  background: var(--white);
  display: flex;
  height: 100%;
  width: 100%;
  .formBox {
    width: 100%;
    //transition: 0.2s ease-out;
    // will-change: width;
    &.scale {
      width: 50%;
    }
  }
  .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    // min-width: 400px;
    flex-shrink: 0;
    .formTitle {
      display: flex;
      flex-direction: column;
    }
    .formTextarea {
      flex: 1;
      height: 0;
    }
    .menu {
      display: flex;
      // justify-content: flex-end;
      align-items: center;
      margin-bottom: 12px;
    }
  }

  .preview {
    flex-shrink: 0;
    position: relative;
    width: 50%;
    padding-left: 40px;
    transition: 0.2s ease-out;
    overflow: hidden;
    // display: flex;
    // flex-direction: column;
    word-wrap: break-word; /* 允许在长单词内部换行 */
    word-break: break-all; /* 允许在任意位置换行 */
    &.hide {
      opacity: 0;
    }
    .label {
      display: inline-block;
      border-radius: 100px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-weight: 700;
      padding: 4px 14px;
      background: rgba(38, 183, 255, 0.15);
      color: var(--primary-blue);
    }
    .title {
      line-height: 1.3;
      flex-grow: 1;
      overflow-wrap: break-word;
      margin-inline-start: 12px;
    }
  }
}
