.sidebarHeader {
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 0 0 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  .logo {
    height: 40px;
    width: 40px;
    margin-inline-end: 10px;
  }
  strong {
    height: 40px;
    line-height: 36px;
    font-size: 24px;
    font-family: var(--font-MaShanZheng);
    color: #000;
  }
}
