.sidebarHeaderBox {
  display: flex;
  .sidebarHeader {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    .logo {
      height: 36px;
      width: 36px;
      line-height: 38px;
      margin-inline-end: 10px;
      color: #000;
      font-size: 36px;
    }
    strong {
      height: 40px;
      line-height: 40px;
      font-size: 24px;
      // font-family: var(--font-MaShanZheng);
      color: #000;
    }
  }
}
