.nav {
  --bg-2: #6e399c; // 700

  position: sticky;
  display: flex;
  height: 60px;
  padding: 0 16px;
  align-items: center;
  background: #6e399c;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.1);
  color: #fff;
}
